.animation {
	z-index: 100;
	/* width: 8rem; */
	position: relative;
}

.animation img {
	position: absolute;
	filter: brightness(150%);
}

.dancing-hen {
  width: 8rem;
	left: -40px;
	top: -16px;
}

.dog-call {
  width: 5rem !important;
  top: -15px;
}

.chill-cat{
  width: 4rem !important;
  /* filter: saturate(50%); */
  filter: brightness(80%) !important;
  top: -15%;
}

.wow-reaction{
  width: 4.5rem;
  top: -10px;
  
}